<div class="container">
  
  <div class="header-section">
    <h1>Мои Колоды</h1>
    

    <button class="dev-tool-btn" (click)="openImportModal()" title="Инструменты разработчика">
        ⚙️ Импорт слов
    </button>

    <div class="create-bar">
      <input 
        [(ngModel)]="newDeckName" 
        (keyup.enter)="createDeck()" 
        placeholder="Название новой колоды...">

      <button (click)="createDeck()">
        <span class="plus-icon">+</span> Создать
      </button>
    </div>
  </div>

  <div class="header-actions">
      <button class="start-btn" (click)="startGlobalReview()">
         
          Учить просроченные слова
          
          <span class="badge" *ngIf="totalOverdueCards > 0">
             {{'[' + totalOverdueCards + ']' }}
          </span>
      </button>
  </div>

  <div class="decks-grid">
    
    <div 
        *ngFor="let deck of decks" 
        class="deck-card" 
        [routerLink]="['/decks', deck.id]">
      
      <div class="deck-top-stripe"></div>

      <div class="deck-content">
        <h3 class="deck-name">{{ deck.name }}</h3>
        
        <div class="deck-meta">
          <span class="card-count">
             📚 {{ deck.cardCount }} карт
          </span>
        </div>
      </div>

      <button 
        class="delete-btn" 
        (click)="$event.stopPropagation(); deleteDeck(deck.id)"
        title="Удалить колоду">
        🗑
      </button>

    </div>
  </div>

  <div *ngIf="decks.length === 0" class="empty-state">
    <p>У вас пока нет ни одной колоды. Создайте первую!</p>
  </div>

</div>

<div class="modal-overlay" *ngIf="isImportModalOpen" (click)="closeImportModal()">
  <div class="modal-window" (click)="$event.stopPropagation()">
    
    <div class="modal-header">
      <h3>Загрузка словаря</h3>
      <span class="close-icon" (click)="closeImportModal()">×</span>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label>Язык словаря:</label>
        <select [(ngModel)]="selectedLanguage">
          <option [ngValue]="eLanguage.German">🇩🇪 Немецкий</option>
          <option [ngValue]="eLanguage.Japanese">🇯🇵 Японский</option>
          <option [ngValue]="eLanguage.Russian">🇷🇺 Русский</option>
        </select>
      </div>

      <div class="form-group">
        <label>Файл (.txt):</label>
        <input type="file" (change)="onFileSelected($event)" accept=".txt,.csv">
      </div>

      <div *ngIf="importMessage" 
           class="status-msg" 
           [class.success]="!importMessage.includes('Ошибка')"
           [class.error]="importMessage.includes('Ошибка')">
          {{ importMessage }}
      </div>
    </div>

    <div class="modal-footer">
      <button class="cancel-btn" (click)="closeImportModal()">Отмена</button>
      <button class="save-btn" 
              (click)="uploadDictionary()" 
              [disabled]="!selectedFile || isUploading">
          {{ isUploading ? 'Загрузка...' : 'Загрузить' }}
      </button>
    </div>

  </div>
</div>